(i__main__
Settings
p0
(dp1
S'hgratio'
p2
F0.5
sS'msrch'
p3
F1.0
sS'people'
p4
I50
sS'hdeath'
p5
F0.03
sS'mprop'
p6
F0.98
sS'deer'
p7
I4000
sS'millet'
p8
I500
sS'mhndlw'
p9
F0.0001
sS'mhndld'
p10
F5e-05
sS'maxpatch'
p11
F1760000.0
sS'dmigrants'
p12
I10
sS'years'
p13
I1000
sS'mdiffus'
p14
F0.02
sS'dbirth'
p15
F0.06
sS'maxpeople'
p16
I500
sS'filename'
p17
S'/home/iullah/Dropbox/Ag_model/agmodel.config'
p18
sS'mretd'
p19
F0.1014
sS'maxdeer'
p20
I6000
sS'mretw'
p21
F0.0507
sS'ddsrch'
p22
F72.0
sS'cultiv'
p23
F5000.0
sS'dpatch'
p24
F1.0
sS'ddeath'
p25
F0.02
sS'hbirth'
p26
F0.032
sS'dret'
p27
F158000.0
sS'mpatch'
p28
F880000.0
sS'hkcal'
p29
F547500.0
sS'fhours'
p30
F4380.0
sS'mselect'
p31
F0.03
sS'dhndl'
p32
F16.0
sS'starvthresh'
p33
F0.8
sS'ddens'
p34
F1000.0
sb.